.react-flow__edge-path {
  stroke: rgb(255, 196, 2);
  stroke-width: 2.5px;
  stroke-linecap: round;
}

.react-flow__handle {
  background-color: transparent;
  border: transparent;
  width: 20px;
  height: 20px;
}

.react-flow__attribution {
  display: none;
}
